@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  width: fit-content;
  /* max-width: fit-content;
  min-width: 100%; */
  width: fit-content;
}
a:hover {
  transition: 0.26s;
}
.linker a,
.bottom a {
  color: white;
  text-decoration: none;
}
.bottom a:hover {
  color: purple;
  transition: 0.26s;
}

.linker {
  /* border: 2px solid red; */
  background-color: rgb(11, 19, 19);
  overflow: hidden;
}
.linker ul {
  list-style: none;
  display: flex;

  float: left;
}

#feedback {
  float: right;
  font-size: 17px;
  padding: 0 16px;
}
.linker a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.tabs {
  padding: 14px 16px;
  font-size: 17px;
}

.linker a:hover {
  /* transition: 0.26s; */
  background-color: purple;
  /* color: white; */
}

.linker a.active {
  background-color: #37b32c;
  color: white;
}
.linker #about {
  float: right;
}
.linker #cart {
  display: flex;
  float: right;
}
.header {
  /* background-: black; */
  /* color: white; */
  /* border: 2px solid black; */
  overflow: hidden;
}

.header {
  /* padding: 0 10px; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* display: flex; */
}
.header a {
  padding-right: 20px;
  float: right;
  text-decoration: none;
}
/* .header a {
  margin-top: 30px;
  align-items: center;  
} */
.header img {
  width: 200px;
  /* float: left; */
}
.header i {
  padding-right: 12px;
}
.slider_images img {
  max-width: 100%;
  min-width: 100%;
  /* background-image: url("https://www.gulahmedshop.com/pub/media/codazon/slideshow/cache/1900x600/n/e/new-lawn-banner-21-latest-pc-2.jpg"); */
}
#main_items {
  display: flex;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.cards button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cards button:hover {
  opacity: 0.7;
}

.bottom,
.header,
.linker {
  clear: left;
}
.bottom {
  background-color: rgb(31, 27, 27);
  color: white;
  height: fit-content;
  overflow: hidden;
  display: flex;
  text-align: justify;
  /* max-width: fit-content;
  min-width: fit-content; */
}

/* #about_us {
  float: right;
  max-width: 35%;
  padding: 0 10px;
  border: 2px solid red;
} */
#about {
  float: left;
  align-self: center;
  /* width: fit-content; */
  width: 30%;
  overflow: hidden;
  text-align: center;
  /* max-width: 35%; */
  padding: 0 10px;
  /* border: 2px solid red; */
}
#social {
  width: fit-content;
}
#footer_content {
  /* float: right; */
  width: 70%;
  /* border: 2px solid red; */
  padding: 0 10px;
  display: flex;
  padding: 0 0.7em;
  /* width: 35%; */
}
#about_us,
#customer {
  max-width: 100%;
  min-width: 50%;
  /* border: 2px solid red; */
  padding-right: 50px;
}
#store_location {
  float: right;
  /* border: 2px solid red; */
  /* max-width: 35%; */
  width: 35%;
  padding: 0 10px;
}
#social a {
  color: white;
}
#social a:hover {
  color: purple;
  transition: 0.3s;
}

#social ul {
  padding: 0px;
  list-style: none;
  /* border: 2px solid red; */
  display: flex;
  overflow: hidden;
}
#social ul li {
  /* border: 2px solid red; */
  padding-right: 15px;
  display: flex;
}
#about_us ul {
  list-style: none;
  padding: 0;
}
#about_us ul li {
  padding: 5px 0;
}
